body {
    background-image: url(tlo4.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#box {
    height: 300px;
    width: 500px;
    text-align: center;
    width: 60%;
    margin-left:auto;
    padding-top:100px;
}

#mov {
    height: 300px;
    width: 500px;
    font-size: 130%;
    text-align: center;
    float: left;
    margin-right: 10px;
    line-height: 40px;
    color: white;
    clear:both;
}
#xchg {
    height: 300px;
    width: 500px;
    font-size: 130%;
    text-align: center;
    margin-right: auto;
    float: left;
    line-height: 40px;
    color: white;
    clear: both;
}

#podtytul {
    font-family: Arial;
    font-size: 12px;
    color: white;
    font-style: italic;
    font-weight: bold;
}
#tytul {
    font-size: 40px;
    font-family: Arial;
    color: black;
    text-align: center;
}
button {
    background: #B9DFFF;
    color: black;
    border: 2px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px ;
    text-shadow: none;
}
button:hover {
        background: #016ABC;
        color: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
    }
#stopka {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align:center;
}


